<div class="app-card-container">
  <div class="card">
    <h1>About Me</h1>

    <hr>

    <div class="row">
      <div class="col-md-4">
        <%= image_tag "profile1.jpg", width: 300, alt: "profile image", class: 'profile_img' %>
      </div>


      <div class="col-md-8">
        <p>Hi! My name is Tia. I am 32 years old and I love anything outdoorsy. I have always been interested in electronics and how they work. I started in computer programming right out of high school, but didn't have the opportunity to finish. I am excited to have gotten a second chance at it and look forward to making my work something I love.</p> 
        <br>
        
        <p>
          <button
            class="btn btn-primary"
            type="button"
            data-toggle="collapse"
            data-target="#jobHistory"
            aria-expanded="false"
            aria-controler="jobHistory"
          >
            Job History
          </button>

          <button
            class="btn btn-primary"
            type="button"
            data-toggle="collapse"
            data-target="#education"
            aria-expanded="false"
            aria-controler="education"
          >
            Education
          </button>
        </p>

        <p>
          <div class="collapse" id="jobHistory">
            <div class="card card-block">
              <p>Prodigy Promos | Lindon, UT</p>
                <p>International Sourcing Agent/Marketing</p>
                <li>Manage accounts and orders</li>
                <li>Follow-up with clients and vendors</li>
                <li>Internal marketing promotions – ideas, product, design, sourcing, etc</li>
                <li>Coordinate with vendors making sure the product is correct and will arrive on time</li>
                <li>Attend meetings about new promotional products with current domestic vendors throughout the month that we can then present to current and prospective clients</li>
                <li>International sourcing, mostly in China</li>
                <li>Find and create relationships with new vendors overseas</li>
                <li>Assist VP with overseas orders and communication</li>
                <li>Organize and create training manual for the Inside Sales/Sourcing Department</li>
            </div>

            <div class="card card-block">
              <p>Unishippers Global Logistics | Murray, UT</p>
                <p>Franchise Relations Support Coordinator</p>
                <li>Provide support services and manage an assigned geographical territory of franchise offices</li>
                <li>Assist franchises with multiple UPS-related processes:</li>
                  <li>Suspension Requests</li>
                  <li>Cancellation Removals</li>
                  <li>UPS account switch to Unishippers (Account Appeals)</li>
                  <li>Address/Name Changes Requests</li>
                  <li>Loss Damage Claims</li>
                  <li>UPS Credit Requests</li>
                  <li>Guaranteed Service Claims</li>
                  <li>Daily Stops</li>
                  <li>UPS Circumstantial Pricing</li>
                  <li>Other processes as developed or needed</li>
                <li>Serves as Project Manager for various carrier related processes</li>
                <li>Support all Freight products and processes</li>
                <li>Educate and support franchises with any channel conflict, both with UPS directly and with other resellers</li>
                <li>Support franchises in relation to the Shared Account Policy</li>
                <li>Support franchises with Unishippers technology tools, including UONE, Express Manager and Freight Manager</li>
                <li>Provide limited customer service assistance to customers of Corporate Managed franchises</li>
                <li>Receive incoming telephone calls from customers, franchisees, administrative staff and carriers</li>
            </div>

            <div class="card card-block">
              <p>Flagship Financial Group | Lindon, UT</p>
                <p>Loan Processor</p>
                <li>Manage accounts</li>
                <li>Process VA Streamline Mortgage Refinances from start to finish</li>
                <li>Update mortgagee and clear title with Title Company</li>
                <li>Order updated payoff statements from bank</li>
                <li>Meet strict submission deadlines</li>
                <li>Prep and submit for final numbers</li>
                <li>Talk with borrowers about further documentation needed to close</li>
                <li>Complete conditions/tasks</li>
                <li>90% ‘one touch’ with United Security Financial files</li>
            </div>

            <div class="card card-block">
              <p>eReplacementparts.com | Sandy, UT</p>
                <p>Customer Service Manager/Purchasing Manager</p>
                <li>Customer Service – answer customer questions via phone and email</li>
                <li>Submit and upload purchase orders with multiple vendors</li>
                <li>Train and manage customer service employees</li>
                <li>Place phone orders with the vendors</li>
                <li>Check on all order statuses</li>
                <li>Update backorder dates in the company system</li>
            </div>
          </div>

          <div class="collapse" id="education">
            <div class="card card-block">
              <li>Buena High School - Graduated 2003</li>
            </div>
            <div class="card card-block">
              <li>Cochise College - 2004</li>
            </div>
            <div class="card card-block">
              <li>University of Phoenix - 2009-2010</li>
            </div>
            <div class="card card-block">
              <li>Bottega Tech - Completed 2017</li>
            </div>
          </div>
        </p>
      </div>
    </div>
  </div>
</div>