<div class="app-card-container">
  <div class="card">
    <h1>About Me</h1>

    <hr>

    <div class="row">
      <div class="col-md-4">
        <%= image_tag "profile1.jpg", width: 300, alt: "profile image", class: 'profile_img' %>
      </div>

      <div class="col-md-8">
        <p>Hi! My name is Tia. I am 32 years old and I love anything outdoorsy. I have always been interested in electronics and how they work. I started in computer programming right out of high school, but didn't have the opportunity to finish. I am excited to have gotten a second chance at it and look forward to make my work something I love.</p> 
      </div>
    </div>
  </div>
</div>
