<div class="inner cover">
  <h1 class="cover-heading">Working On My Fitness</h1>
  <p class="lead">Trying to be healthier - Fluffy to Buff Chick!</p>
  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>